<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.dao.TeacherCourseDao">

    <resultMap id="TeacherCourseResultMap" type="com.demo.model.TeacherCourse">
        <id property="id" column="id"/>
        <result property="teacherId" column="teacher_id"/>
        <result property="username" column="username"/>
        <result property="name" column="name"/>
        <result property="profession" column="profession"/>
        <result property="grade" column="grade"/>
        <result property="term" column="term"/>
        <result property="courseId" column="course_id"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, teacher_id, username, name, profession, grade, term, course_id
    </sql>

    <select id="getTeacherCourseById" resultMap="TeacherCourseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM jhk_teacher_course
        WHERE id = #{id}
    </select>

    <insert id="insertTeacherCourse" parameterType="com.demo.model.TeacherCourse">
        INSERT INTO jhk_teacher_course
            (teacher_id, username, name, profession, grade, term, course_id)
        VALUES
            (#{teacherId}, #{username}, #{name}, #{profession}, #{grade}, #{term}, #{courseId})
    </insert>

    <update id="updateTeacherCourse" parameterType="com.demo.model.TeacherCourse">
        UPDATE jhk_teacher_course
        SET teacher_id = #{teacherId},
            username = #{username},
            name = #{name},
            profession = #{profession},
            grade = #{grade},
            term = #{term},
            course_id = #{courseId}
        WHERE id = #{id}
    </update>

    <delete id="deleteTeacherCourse" parameterType="Long">
        DELETE FROM jhk_teacher_course
        WHERE id = #{id}
    </delete>

</mapper>
